.imageOverlay {
    height: 100%;
    width: 300px;
    width: auto;
    overflow: hidden;
    background: rgb(9, 63, 0);  /* fallback colour. Make sure this is just one solid colour. */
    mix-blend-mode: exclusion;
}

img {
    max-width: 300px;
   opacity: 0.4;
   filter: grayscale(1);
}