@font-face {
  font-family: "alagardmedium";
  src: url("./assets/fonts/alagard-webfont.woff2") format("woff2"),
       url("./assets/fonts/alagard-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Daedra';
  src: url('./assets/fonts/Daedra.woff2') format('woff2'),
      url('./assets/fonts/Daedra.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fixedsys Excelsior';
  src: url('./assets/fonts/FixedsysExcelsiorIIIb.woff2') format('woff2'),
      url('./assets/fonts/FixedsysExcelsiorIIIb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Fixedsys Excelsior';
  color: rgb(89, 255, 47);
}
body {
  margin: 0;
  background: rgb(29, 28, 28);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
pre {
  font-size: 2.5px;
  color: rgb(89, 255, 47);
}
#hellbatWrapper {
  height: 250px;
  width: 100%;
}
.hellbat {
  animation: fly 2s infinite ease-in-out;
}
  @keyframes fly {
      0% {
          top: 0;
      }
      50% {
          top: 20px;
      }
      100% {
          top: 0;
      }
  }

  .btn-success {
    color: rgb(89, 255, 47) !important;
    background: none !important;
    border: 1px rgb(134, 255, 104) dashed;
    font-size: 15px;
    animation: glow 2s infinite ease-in-out;
}
.btn-success:hover {
  color: rgb(51, 255, 0) !important;
    background: rgb(63, 75, 46) !important;
    border: 1px rgb(134, 255, 104) dashed;
}
.btn-success:focus {
    box-shadow: none !important;
    outline: none;
}

.embeddedVideo {
  border: 1px rgb(134, 255, 104) dashed;
  border-radius: 8px;
  animation: glow 2s infinite ease-in-out;
}
  @keyframes  glow {
    0% {
      box-shadow: 0px 0px 50px rgba(0, 255, 0, 0.096);
    }
    50% {
      box-shadow: 0px 0px 30px rgba(0, 255, 0, 0.103);
    }
    100% {
      box-shadow: 0px 0px 50px rgba(0, 255, 0, 0.096);
    }
  }

  .bg-light {
    background: rgb(29, 28, 28) !important;
  }
  .nav-link {
    transition: all .2s ease-in-out;
    color: rgb(92, 177, 71) !important;
    font-size: 20px !important;
    border-radius: 8px;
  }
  .nav-link:hover {
    color: rgb(51, 255, 0) !important;
    background: rgba(4, 116, 0, 0.479) !important;
  }
  .navbar-brand {
    color: rgb(89, 255, 47) !important;
    font-size: 30px !important;
  }

  .navbar {
    border-bottom: 1px rgb(134, 255, 104) dashed;
  }

  footer {
    background: rgba(29, 28, 28, 0.692);
    position: fixed;
    bottom: 0;
    border-top: 1px rgb(134, 255, 104) dashed;
  }

  h1 {
    font-size: 70px !important;
  }
  #pageHeader {
    margin-bottom: -20px;
  }
  #bodyDiv {
    z-index: 1000000;
  }
  #hellbatDiv {
    height: 300px;
  }
  #playButton {
    width: 100%;
  }

  #deathSkull {
    margin-bottom: -250px;
    opacity: 1;
    transition: .5s all ease-in-out;
    animation: skullFade 2s infinite ease-in-out;
  }
    @keyframes skullFade {
      0% {
        opacity: 1;
        filter: drop-shadow(0px 10px 10px rgb(47, 165, 0));
      }
      50% {
        opacity: .7;
        filter: drop-shadow(40px 20px 20px rgb(72, 255, 0));
      }
      100% {
        opacity: 1;
        filter: drop-shadow(0px 10px 10px rgb(47, 165, 0));
      }
    }
    #header404 {
      font-size: 150px !important;
      margin-bottom: -40px;
      animation: statusCode 2s infinite ease-in-out;
    }

    .ascii {
      overflow: visible;
      font-size: 12px;
      width: 100%;
    }

    .sectionBg {
      background: rgba(0, 128, 0, 0.13) !important;
      border: 1.5px dashed green;
      border-radius: 10px;
      width: 100%;
      margin-bottom: 50px;
  }
  @media (max-width: 783px ) {
    .ascii {
      font-size: 9px !important;
    }
  }
    @keyframes statusCode {
      0% {
        filter: drop-shadow(10px 0px 10px green);
      }
      50% {
        filter: drop-shadow(10px 0px 5px green);
      }
      100% {
        filter: drop-shadow(10px 0px 10px green);
      }
    }

    .dropdownLink {
      color: rgb(92, 177, 71);
  }
  .dropdown-menu {
    border: none !important;
    background: rgba(36, 36, 36, 0.911) !important;
  }
  .dropdown-item {
    transition: all .2s ease-in-out;
    color: rgb(128, 255, 96) !important;
  }
    .dropdown-item:hover {
      background: rgba(4, 116, 0, 0.479) !important;
    }
    .dropdown-divider {
      border-top: none !important;
    }

  @media (min-width: 993px) {
    .dropdown-menu {
      border: 1.5px dashed rgb(104, 200, 80) !important;
      box-shadow: 0px 0px 20px rgb(17, 148, 0);
    }
    .dropdown-divider {
      border-top: 1px dashed rgb(51, 255, 0) !important;
    }
    
  }

  .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
  }


audio::-webkit-media-controls-panel {
  background-color: rgb(92, 177, 71) !important;
}

audio::-webkit-media-controls-play-button {
  color: red !important;
}

